
<mat-card class="login-container">
  <h2>Đăng Nhập</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mật khẩu</mat-label>
      <input matInput formControlName="password" type="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Đăng Nhập</button>
  </form>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <p>Chưa có tài khoản? <a routerLink="/register">Đăng ký</a></p>
</mat-card>
